body,html{
	min-height: 100%;
	height: 100%;
	position: relative;
}
* {
	padding: 0;
	text-decoration: none;
	margin-bottom: 0;
	/* [disabled]margin-left: 0; */
	margin-right: 0;
	margin-top: 0;
}

@font-face {
	font-family: 'sans';
	src: url("#{resource['fonts/sans.eot']}");
	src: url("#{resource['fonts/sans.eot']}") format('embedded-opentype'),
	url("#{resource['fonts/sans.woff2']}") format('woff2'),
	url("#{resource['fonts/sans.woff']}") format('woff'),
	url("#{resource['fonts/sans.ttf']}") format('truetype'),
	url("#{resource['fonts/sans.svg#sans']}") format('svg');
}

@font-face {
	font-family: 'sansa';
	src: url("#{resource['fonts/sansa.eot']}");
	src: url("#{resource['fonts/sansa.eot']}") format('embedded-opentype'),
	url("#{resource['fonts/sansa.woff2']}") format('woff2'),
	url("#{resource['fonts/sansa.woff']}") format('woff'),
	url("#{resource['fonts/sansa.ttf']}") format('truetype'),
	url("#{resource['fonts/sansa.svg#sansa']}") format('svg');
}

body {
	margin: 0;
	font-family: sansa, Helvetica, Arial, sans-serif !important;
	font-weight: normal;
	font-size: 14px;
	color: #3e4042;
	direction: rtl;
	background-color: #F4F4F4;
	color: #000;
}
img {
	border: 0;
	vertical-align: middle;
}
.logo-resize {
	width: 60%;
}
a {
	outline: none;
	color: #95c83d;
	text-decoration: none;
}
a:hover, a:focus {
	color: #95c83d;
	text-decoration: none;
	outline: none !important;
}
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

header {
	background-color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 8px -8px;
}
.logo{
	height: 40px;
	width: auto;
}
.login{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.login ul{
	margin-bottom: 0;
}
.login ul a{
	font-size: 15px;
	color: #000000;
}
.login ul a:hover{
	color: #9ACA3C;
}
.login ul a i{
	font-size: 20px;
	color: #96989b;
	margin-left: 10px;
	position: relative;
	top: 2px;
}
.navbar-inverse {
	margin-top: 50px;
}

header .navbar-right li, header .navbar-right a {
	margin: 40px 10px;
	font-size: 16px;
}

header .navbar-right li i, header .navbar-right a>* {
	margin-left: 6px;
}

#account {
	margin: 30px 0;
}

#account li {
	margin-left: 25px;
	margin-bottom: 20px;
	cursor: pointer;
}

#account li i {
	margin-left: 3px;
	color: #F00;
}

#social {
	text-align: left;
}
.title-box {
	color: #000000;
	font-weight: 600;
	padding-bottom: 10px;
	margin-bottom: 30px;
	font-size: 35px;
	margin-top: 0;
}

.title-box i {
	margin-left: 6px;
	color: #F00;
}
.step-box {
	color: #117cc2;
}

.step-icon {
	width: 130px;
	height: 75px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.step-box p {
	color: #96989b;
	font-size: 14px;
	text-align: justify;
	line-height: 20px;
	text-align: center;
}
.step-box h3{
	color: #1c1919;
	font-size: 20px;
	color: #585656;
	margin-top: 30px;
}
.other {
	margin-bottom: 12px;
}

.other-box {
	border: solid 1px #e5e5e5;
	color: #a39d9d;
	background: white;
	border-radius: 20px;
	padding: 15px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 8px -8px;
}

.other-box .img-other {
	margin: 20px auto auto auto;
}

.other-box h4 {
	margin-top: 0;
	color: #1c1919;
}

.other-box i {
	margin-left: 5px;
}
.other-box ul{
	margin-bottom: 0;
}
.other-box li:first-child{
	color: #95c83d;
}
.box .other-icon i {
	display: block;
	margin: auto;
	font-size: 30px;
}

.other-date {
	font-size: 14px;
	margin-top: 7px;
}

#contact-data {
	direction: ltr;
	font-size: 16px;
	color: #727677;
}

.pageform .form-control {
	font-size: 16px;
}

.pageform p {
	margin: 0 0 4px 0;
}

#contact-data p {
	margin-bottom: 5px;
}

#contact-data i {
	font-size: 18px;
	text-align: center;
	background-color: #117cc2;
	color: #fff;
	width: 35px;
	height: 35px;
	line-height: 35px;
	margin-right: 7px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

#contact-data .networking {
	margin: 20px 0;
}

#contact-data .networking i {
	width: 40px;
	height: 40px;
	font-size: 26px;
	line-height: 40px;
	-webkit-border-radius: 20%;
	-moz-border-radius: 20%;
	border-radius: 20%;
}

#contact-data .networking i:hover {
	background-color: #F30;
}

.pay {
	margin-bottom: 10px;
}

.pay img {
	width: 137px;
	height: 51px;
}

.btn-default {
	background: #F4F4F4;
	border-color: #e9e9e9;
	padding-top: 9px;
	padding-bottom: 9px;
	margin-left: 15px;

}

footer {
	background-color: #1c1919;
	width: 100%;
	margin-top: 70px;
	padding: 15px 0;
}

footer ul{
	margin-bottom: 0;
	text-align: center;
}

footer ul a{
	color: #a39d9d;
}
footer .list-inline{
	display: flex;
	align-items: center;
	justify-content: center;
}
.payment-method{
	justify-content: flex-end;
}
.payment-method li{
	background: white;
	margin-left: 10px;
	border-radius: 5px;
	padding: 3px 5px;
	height: 30px;
	display: flex;
	align-items: center;
}
.payment-method img{
	width: 30px;
}
#rosomat {
	width: 100%;
	display: inline-block;
}

#rosomat a {
	color: #e5efff;
}

#rosomat a:hover {
	color: #000;
}

.newsletter button {
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #e8423f;
	border: #e8423f;
	padding: 5px 10px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

#myModal .modal-header, #myModal2 .modal-header, #myModal3 .modal-header,
#completeModal .modal-header {
	background-color: #99969a;
	color: #fff;
	text-align: center;
	padding: 3px 10px;
}

#myModal .close, #myModal2 .close, #myModal3 .close, #completeModal .close
{
	position: absolute;
	top: 15px;
	left: 15px;
	background: #de2a2a;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	opacity: inherit;
	color: #fff;
	z-index: 10;
}

.reg-image {
	z-index: 99999 !important;
	width: 200px;
}

.whyvin-image {
	z-index: 99999 !important;
	width: 350px;
}

.whatsapp-image{
	width:15%;
}

#myModal .form-control, #myModal2 .form-control, #myModal3 .form-control,
#completeModal .form-control {
	border-radius: 10px;
}

#myModal form span, #myModal2 form span, #myModal3 form span,
#completeModal form span {
	position: absolute;
	left: 0;
	bottom: 0;
	color: #de2a2a;
}

#myModal .modal-body, #myModal2 .modal-body, #myModal3 .modal-body,
#completeModal .modal-body {
	padding: 12px 30px;
}

#myModal h4, #myModal2 h4, #myModal3 h4, #completeModal h4 {
	padding: 10px;
	text-align: center;
	color: #fff;
	position: relative;
	cursor: pointer;
}

#myModal #forget, #myModal2 #forget {
	padding: 7px 0;
	font-size: 14px;
	color: #117cc2;
	float: left;
}

#myModal h4 i, #myModal2 h4 i {
	font-size: 30px;
	opacity: 0.4;
	position: absolute;
	right: 140px;
	top: 6px;
	width: 51px;
}

#myModal h4:hover, #myModal2 h4:hover {
	opacity: 0.7;
}

#bg-twitter {
	background: #1da1f2;
}

.bg-facebook {
	background: #3b5998;
	color: white;
	width: 100%;
	padding: 10px;
}

.bg-login {
	background: #11598b;
	color: white;
	width: 100%;
	padding: 10px;
}

#myModal2 h5 {
	color: #117cc2;
}

@media ( max-width : 768px) {
	header {
		padding-top: 10px;
	}
	.modal-dialog {
		width: auto !important;
	}
	.logo-resize {
		width: 35%;
	}
	.step {
		font-size: 13px;
	}
}

@media ( max-width : 640px) {
	.modal-dialog {
		width: auto !important;
	}
	header {
		height: auto;
	}
	header .navbar-right {
		text-align: center;
	}
	header .navbar-right li {
		display: inline-block;
		margin: 10px 10px;
	}
	#account .nav li {
		text-align: center;
	}
	footer .navbar-nav {
		margin: 0;
	}
	#rosomat {
		text-align: center;
		margin: 15px 0;
	}
	#contact-data {
		text-align: center;
	}
	footer .nav a {
		padding: 10px 0 10px 13px
	}
	footer .col-xs-3 {
		width: 20%
	}
	.whyvin-image {
		z-index: 99999 !important;
		width: 300px;
	}
}

.ui-widget, .ui-widget input, .ui-widget select {
	font-family: sansa, Helvetica, Arial, sans-serif !important;
	font-size: 14px !important;
}

.ui-widget-content {
	border: none !important;
	background: transparent !important;
}

.order-datagrid .ui-datagrid-column {
	width: 33.33%;
}

.well {
	border: 0;
	border-top: 1px solid #e3e3e3;
	border-radius: 0;
	background: unset;
	margin-bottom: 0;
}

.modal-dialog {
	width: 600px;
}

.q-form-control {
	display: block;
	width: 40px;
	height: 36px;
	padding: 8px 0px;
	font-size: 12px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 0px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
	ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
	.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.q-form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
	rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
	rgba(102, 175, 233, .6);
}

.q-form-control::-moz-placeholder {
	color: #999;
	opacity: 1;
}

.q-form-control:-ms-input-placeholder {
	color: #999;
}

.q-form-control::-webkit-input-placeholder {
	color: #999;
}

.q-form-control::-ms-expand {
	background-color: transparent;
	border: 0;
}

.checkout-btn {
	background-color: #117cc2;
	color: white;
	width: 100%;
	border: none;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.plus-icon{
	content: url("#{resource['images/plus-icon-bg.png']}");
	display:inline-block;
	text-decoration:none!important;
	vertical-align:middle;
	width: 45px;
	cursor:pointer;
}


/* Style the buttons that are used to open the tab content */
.q-tab button {
	background-color: inherit;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
}






/* Style the tab content */
.q-tabcontent {
	display: none;
	padding: 6px 0;
	border: 1px solid #ccc;
	border-top: none;
	animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}
/*hero image*/
.hero{
	position: relative;
	padding-top: 60px;
	min-height: 450px;
}
.hero .gradient-bg{
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(/resources/images/hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 430px;
	width: 100%;
}
.hero .gradient-bg span{
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to right, #1c1919 30% , #6b861d);
	opacity: 0.3;
	display: block;
}
.hero .caption{
	text-align: center;
	color: #fff;
	font-size: 40px;
	margin-bottom: 20px;
}
.certified p{
	color: #a39d9d;
	margin-bottom: 0;
}
.certified img{
	width: 75px;
	margin-top: 6px;
}
.social{
	margin-top: 10px;
}
.social i:before{
	font-size: 20px;
}
.contact li:after{
	content: " ";
	width: 1px;
	background: #a39d9d;
	height: 12px;
	position: relative;
	display: inline-block;
	right: 5px;
	opacity: 0.5;
}
.contact li:last-child:after{
	display: none;
}
.close{
	position: absolute;
	left: 10px;
	z-index: 5;
}
form label{
	font-weight: normal;
	font-size: 12px;
	display: block;
	color: #7e7e7e;
}
form .form-control{
	margin-right: 0;
}
.login a.reset-password{
	font-size: 12px ;
	margin-bottom: 0;
	float: left;
}
.btn-primary,
.btn-primary:hover{
	background: #95c83d;
	border-color: #95c83d;
	padding-top: 9px;
	padding-bottom: 9px;
	color: #fff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle{
	background: #8BB734;
	border-color: #769E28;
	outline: 0;
	box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled,
.btn-primary.disabled:hover,
.btn-primary:disabled:hover{
	background: #95c83d;
	border-color: #95c83d;
	opacity: 0.7;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active,
.btn:not(:disabled):not(.disabled):active:focus{
	outline: 0;
	box-shadow: none;
}
.form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(149, 200, 61, .6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(149, 200, 61, .6);
}
#login-modal .modal-header{
	padding: 0;
	border-top-width: 0;
}
#login-modal .tab-content{
	padding-top: 20px;
}
#login-modal .nav-tabs > li{
	width: 50%;
	text-align: center;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
	border-width: 0;
	border-bottom: 2px solid #9ACA3C;
	color: black;
}
.nav-tabs > li > a{
	color: #a39d9d;
}
.nav > li > a:hover, .nav > li > a:focus{
	color: #a39d9d;
	border-color: #fff #fff #ddd;
	background: #f6f6f6;
}
.mandatory{
	color: #8BB734;
	font-size: 15px;
}
.quotation-order{
	background: white;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 8px -8px;
	border: solid 1px #e5e5e5;
	border-radius: 30px;
	min-height: 325px;
}
.quotation-order h4{
	font-size: 22px;
	margin-top: 0;
	padding: 20px 15px;
	border-bottom: solid 1px #e5e5e5;
	margin-bottom: 0;
}
.items-list{
	display: flex;
}
.items-list li{
	width: 25%;
}
.items-list li a{
	color: black;
	padding: 20px;
	border: 1px solid #e5e5e5;
	display: block;
	margin-left: 5px;
}
.items-list li a:hover{
	border-color: #8BB734;
}
.form-actions{
	text-align: left;
	margin-top: 10px;
}
.form-actions .btn{
	min-width: 100px;
}
.parts{
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
}
.parts .form-group{
	margin-bottom: 0;
}
.add-part span{
	font-size: 15px;
	float: right;
	margin-left: 5px;
	position: relative;
	top: 2px;
}
select.form-control{
	background-position-x: left;
	min-width: 50px;
}

.vehicle-info {
	margin-bottom: 10px;
	border-bottom: 2px solid #ededed;
	padding: 15px 15px 10px;
	margin-right: -15px;
	margin-left: -15px;
	background: #fff;
}
.vehicle-info p{
	display: inline-block;
	margin-bottom: 0;
	margin-left: 20px;
}
.vehicle-info p + p{
	border-right: 1px solid #c8c8c8;
	padding-right: 15px;
}
.vehicle-info p + p:nth-child(2){
	border-right-width: 0;
	padding-right: 0;
}
.vehicle-info p label{
	opacity: 0.6;
	font-weight: 700;
	display: inline-block;
	margin-bottom: 0;
}
.well .panel-body{
	background: #fafafa;
	padding-top: 0;
}
.well .panel-default{
	border-radius: 20px;
	overflow: hidden;
}
.user-actions > a{
	color: black;
}
.user-actions > a .caret{
	display: none;
}
.user-actions .dropdown-menu{
	padding: 0;
	left: 0 !important;
	right: auto;
}
.user-actions .dropdown-menu > li > a{
	padding: 0;
}
.user-actions .dropdown-menu .list{
	border-bottom: 1px solid #dfdfdf;
}
.user-actions .dropdown-menu .list-link{
	display: block;
}
.user-actions .dropdown-menu .list:hover,
.user-actions .dropdown-menu .list-link:hover{
	background: #f5f5f5;
}
.user-actions .dropdown-menu .list a,
.user-actions .dropdown-menu .list-link{
	padding: 10px !important;
}
.container-fluid{
	max-width: 1170px;
}
.box {
	margin-top: 50px;
}
.static-orders .col-md-4 + .col-md-4{
	margin-top: 15px;
}
footer .col-md-6{
	margin-top: 15px;
	margin-bottom: 15px;
}
.box,
footer{
	margin-top: 50px;
}
.certified{
	text-align: center;
}
.register-bage{
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
}
.register-bage form{
	background: white;
	border-radius: 20px;
	padding: 15px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 8px -8px;
}
.register-bage form .btn {
	float: none;
}
.register-bage form .title-box{
	margin-bottom: 0;
}
.inner{
	display: flex;
	flex-direction: column;
	min-height: calc(100% - 244px);
	padding-top: 30px;
}
.quotation-status{
	background: white;
	border-radius: 30px;
	padding: 10px 15px 15px;
}
.quotation-status .tab-pane{
	margin-top: 15px;
}
.quotation-status .panel{
	margin-bottom: 0;
	border-radius: 20px;
	overflow: hidden;
}
.quotation-status .panel + .panel{
	margin-top: 15px;
}
.quotation-status .panel-heading{
	padding: 0;
	margin-top: -1px;
}
.quotation-status .panel-title a{
	display: block;
	position: relative;
	padding: 15px 15px 15px 40px;
	font-size: 15px;
}
.quotation-status .panel-title a:hover,
.quotation-status .panel-title a:focus{
	color: black;

}
.quotation-status .panel-title a .fa-chevron-down{
	position: absolute;
	left: 15px;
	top: 50%;
	margin-top: -8px;
	color: #a8a8a8;
	transition: all 0.2s;
}
.quotation-status .panel-title a.collapsed{
	margin-bottom: -1px;
}
.quotation-status .panel-title a.collapsed .fa-chevron-down{
	transform: rotate(90deg);

}
.quotation-status .panel-title a p{
	display: inline-flex;
	align-items: center;
	margin-bottom: 0;
	font-weight: bold;
}
.quotation-status .panel-title a p span{
	font-size: 13px;
	padding: 5px;
	margin-right: 10px;
	position: relative;
	font-weight: normal;
	border-radius: 5px;
}
.quotation-status .panel-title a p span.under-review{
	color: #0c5460;
	background-color: #d1ecf1;
	border: 1px solid #bee5eb;
}
.quotation-status .panel-title a p span.completed{
	color: #155724;
	background-color: #d4edda;
	border: 1px solid #c3e6cb;
}
.quotation-status .panel-title a p span.transfer{
	color: #856404;
	background-color: #fff3cd;
	border: 1px solid #ffeeba;
}
.quotation-status .panel-title a span{
	float: left;
	font-size: 14px;
	color: #888;
}
.quotation-status .panel-title a .fa-calendar{
	opacity: 0.7;
	margin-left: 5px;
}
.quotation-status .panel-body{
	padding-top: 0;
	background: #fafafa;
	padding-bottom: 0;
	margin-top: 1px;
}
.quotation-status .vehicle-info{
	padding-top: 10px;
}
.quotation-status .vehicle-info label{
	font-size: 12px;
	color: #7e7e7e;
	margin-bottom: 0;
	padding-left: 5px;
}
.quotation-status th{
	font-size: 12px;
	opacity: 0.4;
}
.no-data{
	text-align: center;
	margin: 30px auto;
	font-size: 18px;
	color: #a39d9d;
}
.quotation-summary,
.block-style{
	background: white;
	border-radius: 30px;
	padding: 0 15px 15px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 8px -8px;
	border: 1px solid #f1f1f1;
}
.quotation-summary li{
	display: flex;
	border-bottom: 1px solid #f1f1f1;
	padding: 10px 5px;
}
.quotation-summary li p,
.quotation-summary li > label{
	width: 50%;
	margin-bottom: 0;
}
.quotation-summary li label{
	font-size: 13px;
	opacity: 0.6;
	font-weight: normal;
}
.quotation-summary li p{
	text-align: left;
}
.quotation-summary .btn{
	width: 100%;
}
.comments{
	border-top: 1px solid #ddd;
	padding-top: 10px;
	margin-top: 20px;
}
.comments li{
		background: white;
		border-radius: 20px;
		padding: 15px;
	border: 1px solid #f1f1f1;
}
.comments li + li{
	margin-top: 15px;
}
.comments li p{
	font-size: 14px;
	margin-top: 7px;
	color: #7e7e7e;
	margin-bottom: 0;
}
.comments li span{
	opacity: 0.5;
	font-size: 13px;
}
.quotation-actions{
	border-top: 2px solid #ededed;
	padding-top: 10px;
	margin: 20px -15px 0;
	display: flex;
	align-items: center;
	background: white;
	padding-bottom: 10px;
}
.quotation-actions a:hover,
.quotation-actions .btn:hover{
	color: #8BB734;
}
.quotation-actions .btn{
	margin-right: 0;
}
.quotation-actions li + li{
	border-right: 1px solid #ededed;
}
.vehicle-info .date{
	display: none;
}
.tooltip-wrapper {
	padding-top: 10px;
	display: inline-block;
	position: relative;
	-webkit-transform: translateZ(0); /* webkit flicker fix */
	-webkit-font-smoothing: antialiased; /* webkit text rendering fix */
}

.tooltip-wrapper .tooltip {
	width: 250px;
	bottom: 100%;
	display: block;
	right: -20px;
	margin-bottom: 15px;
	opacity: 0;
	padding: 5px;
	pointer-events: none;
	position: absolute;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	-ms-transform: translateY(10px);
	-o-transform: translateY(10px);
	transform: translateY(10px);
	-webkit-transition: all .25s ease-out;
	-moz-transition: all .25s ease-out;
	-ms-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out;
	-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
	-moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
	-ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
	-o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
	border-radius: 10px;
	background: rgba(0,0,0,0.7);
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.tooltip-wrapper .tooltip:before {
	bottom: -16px;
	content: " ";
	display: block;
	height: 16px;
	left: 0;
	position: absolute;
	width: 100%;
}

/* CSS Triangles - see Trevor's post */
.tooltip-wrapper .tooltip:after {
	border-left: solid transparent 8px;
	border-right: solid transparent 8px;
	border-top: solid 8px rgba(0,0,0,0.7);
	bottom: -8px;
	content: " ";
	height: 0;
	left: 50%;
	margin-left: -13px;
	position: absolute;
	width: 0;
}

.tooltip-wrapper:hover .tooltip {
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
}
.tooltip-wrapper .tooltip img{
	max-width: 100%;
	border-radius: 10px;
}
.order-checkout{
	background: #fafafa;
	margin-left: -15px;
	margin-right: -15px;
	padding: 15px;
	margin-bottom: -15px;
	border: 1px solid #ddd;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}
.quotation-status > h3{
	margin: 0 -15px 0 -15px;
	padding: 5px 15px 15px;
	border-bottom: 1px solid #f1f1f1;

}
.address .form-actions{
	margin-bottom: 10px;
}
.address-list{
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-top: 15px;
}
.address-list > li{
	width: 50%;
	margin-bottom: 15px;
}
.address-list > li > a{
	color: black;
	padding: 20px;
	border: 1px solid #e5e5e5;
	display: block;
	margin-left: 10px;
	height: 100%;
}
.address-list > li:last-child > a{
	border-color: #8BB734;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 8px -8px;
	color: #8BB734;
	cursor: pointer;
}
.address-list > li:last-child > a i{
	margin-left: 5px;
}
.address-list > li:last-child > a:hover{
	border-color: black;
}
.address-list > li > a:hover {
	border-color: #8BB734;
}
.address-list > li > a > p:last-child{
	margin-bottom: 0 ;
}
.address-list > li > a > label{
	color: #8BB734;
	cursor: pointer;
}
.block-style + .block-style{
	margin-top: 20px;
}
.block-style:last-child{
	margin-bottom: 20px;
}
.block-style h4{
	font-size: 15px;
	font-weight: bold;
	color: #7e7e7e;
	border-bottom: 1px solid #f1f1f1;
	padding-bottom: 15px;
	padding-top: 5px;
}
.block-style address{
	margin-bottom: 0;
}
.quotation-summary li.promo{
	background: #fcfcfc;
	display: block;
	padding-right: 15px;
	padding-left: 15px;
}
.quotation-summary li.promo p{
	display: inline-block;
	text-align: right;
	width: auto;
}
.quotation-summary li.promo input[type="checkbox"]{
	margin-top: 0;
	margin-left: 5px;
}
.promo-panel > .form-group{
	padding-top: 20px;
}
.bf-message-detail {
	padding-left: 0;
	padding-right: 10px;
}
.confirm {
	text-align: center;
	padding: 20px 15px;
}
.confirm {
	font-size: 47px;
	margin-bottom: 20px;
	color: #95c83d;
}
@media (min-width: 576px){
	.col-sm-3 {
		-ms-flex: unset;
		flex: unset;
		max-width: unset;
	}
	.step-box + .step-box{
		margin-top: 30px;
	}

}

@media (min-width: 768px){
	.col-md-10 {
		flex: unset;
		max-width: unset;
	}
	.step-box + .step-box{
		margin-top: 0;
	}
	.certified{
		text-align: right;
	}
	footer .col-md-4 + .col-md-4,
	.static-orders .col-md-4 + .col-md-4{
		margin-top: 0;
	}
	.box,
	footer {
		margin-top: 70px;
	}
	.address-list > li{
		width: 25%;
	}
}
@media (max-width: 767px){
	.steps-list > div > p{
		font-size: 12px;
	}
	.login ul a i{
		margin-left: 5px;
	}
	.address-list > li{
		width: 100%;
	}
}
@media (max-width: 570px){
	.items-list li{
		width: 33.333%;
	}
	.quotation-status{
		padding-left: 7px;
		padding-right: 7px;
	}
	.quotation-status .nav > li > a{
		padding-left: 10px;
		padding-right: 10px;
	}
	.box.quotation-status{
		margin-top: 25px;
	}
	.quotation-status .panel-title a span{
		display: none;
	}
	.order-checkout{
		margin-left: -7px;
		margin-right: -7px;
	}
	.vehicle-info .date,
	.vehicle-info p{
		display: block;
		margin-left: 0;
	}
	.vehicle-info .date{
		margin-bottom: 10px;
	}
	.vehicle-info p + p {
		padding: 5px 10px 5px 0;
	}
	.vehicle-info p + p:nth-child(2){
		border-right-width: 1px;
		padding-right: 15px;
	}
	.table-responsive{
		border-radius: 15px;
	}
	.steps-list > div > p{
		display: block;
	}
}

