.contact-us{
  background-color: $white;
  border: 1px solid $light-gray;
  padding: 30px;
  margin-top: 30px;
  box-shadow: 0 50px 100px -20px rgba(50,50,93,.25), 0 30px 60px -30px rgba(0,0,0,.3), 0 -18px 60px -10px rgba(0,0,0,.025);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}